<script setup>
import {ref, computed, onMounted} from 'vue'
import {useI18n} from 'vue-i18n'

const {t} = useI18n()

const filter = ref('')
const selectedDrug = ref({
})
let data = ref([])
let date = ref('')
onMounted(async () => {
  try {
    const response = await fetch('/data/output.json');
    const jsonData = await response.json();
    data.value = jsonData.data;
    date.value = jsonData.updated;
  } catch (error) {
    console.error(error);
  }
})

const filtered = computed(() => filter.value.length > 2 ? data.value.filter(item => item.NOM_COMMERCIAL.toLowerCase().includes(filter.value.toLowerCase())): [])
</script>
<template>
    <div class="py-4" />
      <p>(mise à jour du {{date}}-2023)</p>
      <input id="search" v-model="filter" :placeholder="t('search')" :aria-label="t('search')" type="text"
      autofocus autocomplete="false" class="px-4 py-2 my-4 w-full lg:w-2/3 border bg-gray-50 dark:bg-slate-700 border-gray-200 dark:border-gray-700 rounded outline-none">
    <div v-if="filtered.length > 0" class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden shadow-md rounded-lg">
            <table class="table-auto w-full rounded-lg">
              <thead class="bg-gray-200 dark:bg-slate-700">
                <th scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  PCT
                </th>
                <th scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  Désignation
                </th>
                <th scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  Prix Publique
                </th>
                <th scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  Prix Référence
                </th>
                <th scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  Catégorie
                </th>
                <th scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  DCI
                </th>
                <th scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  AP
                </th>
              </thead>
              <tbody v-for="drug in filtered" :key="drug.CODE_PCT">
                <tr
                  class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600 hover:bg-lime-200 dark:hover:bg-green-800"
                  @click="showDrug(drug.CODE_PCT)">
                  <td class="py-4 px-6 text-sm text-gray-900 text-left  dark:text-white">
                    {{ drug.CODE_PCT }}
                  </td>
                  <td class="py-4 px-6 text-sm font-medium text-left text-gray-900  dark:text-white">
                    {{ drug.NOM_COMMERCIAL }}
                  </td>
                  <td class="py-4 px-6 text-sm text-gray-900 text-left  dark:text-white">
                    {{ drug.PRIX_PUBLIC.toFixed(3) }}
                  </td>
                  <td class="py-4 px-6 text-sm text-gray-900 text-left  dark:text-white">
                    {{ drug.TARIF_REFERENCE.toFixed(3) }}
                  </td>
                  <td class="py-4 px-6 text-sm text-gray-900 text-left  dark:text-white">
                    {{ drug.CATEGORIE }}
                  </td>
                  <td class="py-4 px-6 text-sm text-left text-gray-900  dark:text-white">
                    {{ drug.DCI }}
                  </td>
                  <td class="py-4 px-6 text-sm text-gray-900 text-left  dark:text-white">
                    {{ drug.AP }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
    <p v-show="filter.length === 0" class="text-black text-gray-400 text-lg lg:text-2xl">Commencez à taper le nom du médoc...</p>
    <p v-show="filter.length > 2 && filtered.length === 0">Aucun résultat!</p>
    </div>
</template>
