<script setup>
import { ref, inject } from "vue";

const url = ref('/data/export.geojson')
const format = inject('ol-format')
const geoJson = new format.GeoJSON()
const center = ref([10.1131, 36.9078]);
const projection = ref("EPSG:4326");
const zoom = ref(9);
const rotation = ref(0);
const webglPointsStyle = {
  symbol: {
    symbolType: "circle",
    size: [
      "interpolate",
      ["linear"],
      ["get", "population"],
      40000,
      8,
      2000000,
      28,
    ],
    color: "red",
    rotateWithView: false,
    offset: [0, 0],
    opacity: [
      "interpolate",
      ["linear"],
      ["get", "population"],
      40000,
      0.6,
      2000000,
      0.92,
    ],
  }
}
</script>

<template>
  <ol-map
    :loadTilesWhileAnimating="true"
    :loadTilesWhileInteracting="true"
    style="width: 100%; height: 80vh;"
  >
    <ol-tile-layer>
      <ol-source-osm />
    </ol-tile-layer>
    <ol-view
      ref="view"
      :center="center"
      :rotation="rotation"
      :zoom="zoom"
      :projection="projection"
    />
    <ol-webgl-points-layer :styles="webglPointsStyle">
        <ol-source-webglpoints :url="url" :format="geoJson"></ol-source-webglpoints>
    </ol-webgl-points-layer>
  </ol-map>
</template>

