<script setup>
import {ref} from 'vue'
  const links = ref([
  {
    name: 'Accueil',
    path: '/',
  },
  {
    name: 'Panier',
    path: '/cart',
  },
  {
    name: 'Pharmacies',
    path: '/pharmacies',
  },
  {
    name: 'Pharmus',
    path: '/pharmus'
  }
])
</script>
<template>
  <div class="flex ml-2" v-for="link in links" :key="link.name">
    <router-link :to="link.path"><span class="mx-2 text-gray-700 dark:text-gray-300 hover:text-sky-500">{{link.name}}</span></router-link>
  </div>
</template>
