<script setup>
import {ref} from 'vue'
import Default from './layouts/Default.vue'

const layout = ref(Default)
</script>
<template>
  <component :is="layout">
    <router-view />
  </component>
</template>
