<script setup>
import NavLinks from '../components/NavLinks.vue'
import { useDark, useToggle } from '@vueuse/core'
import { useI18n } from 'vue-i18n'
const {t} = useI18n()
const isDark = useDark()
const toggleDark = useToggle(isDark)
</script>

<template>
  <div class="w-screen h-screen overflow-auto bg-fixed px-4 py-4 bg-slate-100 dark:bg-slate-800 text-center text-gray-700 dark:text-gray-200">
    <div class="flex">
    <svg class="top-0" @click="toggleDark()" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="🔍-Product-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="ic_fluent_dark_theme_24_regular" fill="#999" fill-rule="nonzero">
              <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20.5 L12,3.5 C16.6944204,3.5 20.5,7.30557963 20.5,12 C20.5,16.6944204 16.6944204,20.5 12,20.5 Z" id="🎨-Color">
  </path>
          </g>
      </g>
    </svg>
      <NavLinks />
    </div>
    <div class="flex flex-col items-center mt-4">
      <div>
        <img src="../assets/drug.png" alt="PrixMedoc"/>
      </div>
      <div>
        <p class="text-2xl">
          <a href="#">PrixMédoc</a>
        </p>
      </div>
      <div>
        <p>
          <em class="text-sm opacity-75">{{ t('desc') }}</em>
        </p>
      </div>
    </div>

    <div class="m-auto w-3/4 mt-4">
      <slot></slot>
    </div>
    </div>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
